alter user 'root'@'localhost' identified by '{{ ds2_root_pass }}';
set global validate_password_length=0;
set global validate_password_mixed_case_count=0;
set global validate_password_number_count=0;
set global validate_password_policy=LOW;
set global validate_password_special_char_count=1;
show variables like '%password%';
create user 'web'@'localhost' identified by '{{ ds2_web_pass }}';
GRANT ALL ON *.* to 'web'@'localhost';
commit;
